modules = ["python-3.11"]

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = 38634594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Application"
author = 38634594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
