modules = ["python-3.11", "postgresql-16"]

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = 38634594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Application"
author = 38634594
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python main.py"]

[nix]
packages = ["borgbackup", "glibcLocales", "libxcrypt"]

[objectStorage]
defaultBucketID = "replit-objstore-4dc0f9fd-301b-4ccb-b8df-02c4d1d94e4d"
